/* Miguel Conde Luis */
/* Hoja de estilos de CCS para los preguntas de auto Evaluación */

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;          /* tipo de fuente */
    /* background-color: #f2f2f2; */
    font-size: 1em;                                     /* tamaño de la fuente */
    overflow-x: hidden;
    background: #2f2c3b;

}

/* Banner para mostrar el titulo de la actividad, así como el nombre del autor */
.gradient {
    width: 100%;
    top: 0;
    position: relative;
    top: 0;
    padding: 15px 20px;
    width: 100%;
    background: #576aa3;
    
    background-size: 400% 400%;
    /* animation: gradient 10s ease infinite; */
    padding-bottom: 2em;
    /* box-shadow: 0px 0px 20px black; */
}

/* header{
    position: relative;
    top: 0;
    padding: 15px 20px;
    width: 100%;
    background-color: #00002c;    
} */

.titulo{
    font-size: 2.3em;
    line-height: 1.5em;
    color: #fff;
    margin: 15px 0;
    text-align: center;
}

.nombre{
    font-size: 1em;
    line-height: 1.5em;
    color: #fff;
    margin: 1px 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* estilo del contenedor de informacion */
.cont-1{
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 0 1% 0 1%;
    background-color: gainsboro;
    width: 952px; 
    margin-top: 1em;
    border-radius: 8px;
    position: relative;     /* Centrar contenedor */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
} */

.cont-2{
    height: 1000px;
    overflow: auto;
    padding: 0 1% 0 1%;
    background-color: gainsboro;
    width: 952px;    
    margin-top: 1em;
    border-radius: 8px;
    position: relative;     /* Centrar contenedor */
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    margin-bottom: 1em;
    
}
.cont-3{
    height: 1010px;
    overflow: auto;
    padding: 0 1% 0 1%;
    background-color: gainsboro;
    width: 952px;    
    margin-top: 1em;
    border-radius: 8px;
    position: relative;     /* Centrar contenedor */
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    margin-bottom: 1em;
    
}

/* Estilos para el apartado dentro del contenedor "cont-2" */
/* Titulo del capitulo */
#titulo-cap{
    font-size: 2em;
}

.capitulo-4{
    margin: 5em;
    
}

.lista-ejemplos{
    position: relative;
    margin-left: 2em;

    width: 45%;  /* Este será el ancho que tendrá tu columna */
    
    float:left; /* Aquí determinas de lado quieres quede esta "columna" */

}

.lista-ejercicios{
    position: relative;
    margin-left: 2em;

    width: 45%;  /* Este será el ancho que tendrá tu columna */
    
    float:right; /* Aquí determinas de lado quieres quede esta "columna" */

}

ul{
    list-style: square;
}

ul a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}
ul a:hover{
    font-size: 27px;
    color: rebeccapurple;
    
}
    